In [65]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [6]:
import pandas as pd

encodings = ['utf-8', 'latin1', 'cp1252']

for encoding in encodings:
    try:
        df = pd.read_csv('spam\spam.csv', encoding=encoding)
        break
    except UnicodeDecodeError:
        continue
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
df.drop(columns=['Unnamed: 2','Unnamed: 4','Unnamed: 3'],inplace=True)

In [17]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [8]:
lable=np.unique(df['v1'])
lable

array(['ham', 'spam'], dtype=object)

In [9]:
dict={"ham":0,"spam":1}

In [10]:
df['v1']=df['v1'].map(dict  )

In [11]:
df

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
x=df['v2']
y=df['v1']

In [82]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [83]:
x_train

708     To review and KEEP the fantastic Nokia N-Gage ...
4338                   Just got outta class gonna go gym.
5029    Is there coming friday is leave for pongal?do ...
4921    Hi Dear Call me its urgnt. I don't know whats ...
2592    My friend just got here and says he's upping h...
                              ...
3772    I came hostel. I m going to sleep. Plz call me...
5191                               Sorry, I'll call later
5226        Prabha..i'm soryda..realy..frm heart i'm sory
5390                           Nt joking seriously i told
860                   In work now. Going have in few min.
Name: v2, Length: 3900, dtype: object

In [84]:
feature=TfidfVectorizer(max_df=1,stop_words='english',lowercase=True)
x_train_tdfit=feature.fit_transform(x_train)
x_test_tdfit=feature.transform(x_test)

In [85]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [86]:
model.fit(x_train_tdfit,y_train)
y_pred=model.predict(x_test_tdfit)

In [87]:
accuracy=accuracy_score(y_test,y_pred)

In [88]:
accuracy

0.8690191387559809